.dropdownItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spImgFav {
    height: 2.5rem;
    margin: 0rem 0.625rem;
}

.faIconsFavNav {
    color: #DDCC39;
    
}

.faIconsFav {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    color: #DDCC39;
}

.faIconsFav:hover {
    transform: scale(1.5);
    transition: ease 0.25s;
}